extends ../layout

block content
  h1 Nueva Admisión
  form(action="/admisiones/crear" method="POST")
    input.form-control(type="text" name="paciente" placeholder="Paciente" required)
    button.btn.btn-success(type="submit") Guardar