extends ../layout

block content
  h1 Registrar Nueva Admisión
  
  if error
    .alert.alert-danger= error

  form(method="POST" action="/admisiones/crear")
    .mb-3
      label.form-label Paciente:
      select.form-select(name="paciente_id" required)
        each paciente in pacientes
          option(value=paciente.id)= paciente.nombre
    
    .mb-3
      label.form-label Habitación:
      select.form-select(name="habitacion_id" required)
        each hab in habitaciones
          option(value=hab.id)= hab.numero
    
    button.btn.btn-primary(type="submit") Registrar Admisión