//- views/index.pug

extends layout

block content
  h2 Bienvenido al Módulo de Admisión y Recepción
  p Esta es la entrega parcial del práctico integrador.
  hr
  h3 Acceso rápido al módulo:
  ul
    li 
      a(href="/pacientes") Ver pacientes
    li 
      a(href="/camas") Ver camas disponibles
    li 
      a(href="/habitaciones") Ver habitaciones
    li 
      a(href="/admisiones") Ver admisiones
    li 
      a(href="/signos_vitales") Ver signos vitales
    li 
      a(href="/altas") Ver altas hospitalarias