//- views/layout.pug

doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title HIS - Hospital Information System
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    header
      h1 Sistema Hospitalario HIS
      nav
        ul
          li
            a(href="/") Inicio
          li
            a(href="/pacientes") Pacientes
          li
            a(href="/camas") Camas
          li
            a(href="/habitaciones") Habitaciones
          li
            a(href="/admisiones") Admisiones
          li
            a(href="/signos_vitales") Signos Vitales
          li
            a(href="/altas") Altas
          li
            a(href="/cancelaciones_admision") Cancelaciones
          li
            a(href="/evaluaciones_medicas") Evaluaciones Médicas
          li
            a(href="/estudios") Estudios Solicitados
    main
      block content

    footer
      p TP1 - Programación Web II | José Tive