//- views/layout.pug

doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Sistema HIS
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    header
      h1 Hospital Information System
      nav
        ul
          li 
            a(href="/") Inicio
          li 
            a(href="/pacientes") Pacientes
          li 
            a(href="/camas") Camas
          li 
            a(href="/habitaciones") Habitaciones
          li 
            a(href="/admisiones") Admisiones
    main
      block content

    footer
      p TP1 - Programación Web II | José Tive